#makin-testscript-menubox {
  position: fixed;
  z-index: 10;
  top: 70px;
  right: 10px;
  width: 150px;
  height: auto;
  background-color: rgba(0,0,0,0.8);
  color: white;
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #797979;
    color: white;
    text-transform: uppercase;
    font-size: 8px;
    &.all {
      text-transform: capitalize;
      background-color: white;
      color: black;
    }
  }
  #makin-testscript-logbox{
    display: none;
    max-height: 400px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      // height: 30px;
      width: 6px;
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
    }

    &::-webkit-scrollbar-corner {
      background: #bbb;
    }
  }
  #log_time_toggle {
    display: none;
  }
  &.log-shown {
    width: 300px;
    #log_time_toggle, #log_box_toggle {
      display: inline-block;
      width: 50%;
      box-sizing: border-box;
    }
    #makin-testscript-logbox {
      display: block;
      .time {
        display: none;
      }
      &.time-shown {
        .time {
          display: inline-block;
        }
      }
      li {
        width: 100%;
        display: block;
        color: cornsilk;
        &.title{
          margin-top: 20px;
          &::before{
            display: block;
            background-color: cornsilk;
            color: black;
            content: '----'
          }
        }
      }
    }
  }
}
